<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <div class="form-container">
      <h1>User Registration</h1>

      <form action="/users/register" method="POST" class="registration-form">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required />
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>

        <!-- Turnstile widget -->
        <div
          class="cf-turnstile"
          data-sitekey="<%= process.env.TURNSTILE_SITEKEY %>"
        ></div>

        <button type="submit" class="submit-btn">Register</button><br />

        <script
          src="https://challenges.cloudflare.com/turnstile/v0/api.js"
          async
          defer
        ></script>

        <button onclick="history.back()">Go Back</button>
      </form>
    </div>
  </body>
</html>